html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding: .3em;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 1.875rem;
}

img {
  text-align: center;
  display: block;
  width: 100%;
}

nav .current {
  background-color: #b20953;
}

nav a:hover {
  background-color: #cc1465;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: .2em .5em .3em;
  border-radius: 4px;
  font-size: 1.125rem;
  background-color: #b2a212;
}

nav li {
  display: inline-block;
}

.nav {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: .5em 0;
  color: #2f2d13;
  font-size: .75em;
}

main {
  margin: .8em;
}

footer {
  display: block;
  text-align: center;
  background-color: #ffe500;
  padding: .75em;
}
