html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding: .3em;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  text-align: center;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
}

img {
  text-align: center;
  display: block;
  width: 100%;
}

nav .current {
  background-color: #b20953;
}

nav a:hover {
  background-color: #cc1465;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav li {
  display: inline-block;
}
