html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigma One", sans-serif;
  color: #b20953;
  text-align: center;
}

h2 {
  font-family: "Sigma One", sans-serif;
  color: #b20953;
}

img {
  text-align: center;
  display: block;
  width: 100%;
}
